* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Tornando as caixas adaptaveis (caixas não ficam sobrando dentro dos elementos)*/
    list-style: none;
}

header {
    padding: 2rem 1rem;
    /*preenchimento superior e infoerior com (2rem), preenchimento laterais esqueda e direita*/
    background-color: #493d3f;
    display: flex;
    justify-content: space-between;
    align-items: center;


   
        position: sticky;
        top: 0;
        left: 0;
        
        z-index: 1000;
   
      
}

.hamburger {
    display: none;
}


.logo-header {
    width: 5rem;
}

.nav-header {
    display: flex;
    justify-content: end;
}


.ul-list{
    display: flex;
    gap: 20px;
}

.ul-list a {
    color: rgb(20, 20, 20);
    text-decoration: none;
    background-color: #ededf0;
    font-weight: 700;
    padding: 0.5rem 1.3rem;
}



.container {
    padding: 6rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*Fará com que as caixas possam ser quebradas se necessário (quando não houver espaço)*/
    align-content: center;
    /*propriedade que será usada para alinhar as caixas quando quebradas*/

}

.container div {
    /* border: 10px solid orange; (2px = espessura da borda) (solid = Tipo da borda) (orange = cor da borda)*/
    width: 30rem;
    /*largura da caixa*/
    height: 20rem;
    /*Altura da caixa*/
    margin: 10px;
    /*Espaçamento de todos os lados externos da caixa usando o margin*/
    min-width: 299px;
    /*Limitando o tamanho mínimo que a caixa terá (ela não ficará menor que 299px)*/
}


.sessao01 {
    background: linear-gradient(180deg, #290a9b6b 8.33%, #09446ccb 100%), url(../imagens/cliffs-9444605_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    justify-content: start;

}


.div01 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.3rem;

}

.div01 p {
    font-size: 2rem;
}

.div01 button {
    padding: 0.5rem;
    border-radius: 5px;
    width: 15rem;
    background-color: #464543;
    color: white;
    font-weight: 700;
    border: none;
}



span {
    color: yellow;
    font-size: 3rem;
}


.dombosco {
    background-color: #493d3f;

}

.div-img img {
    width: 20rem;
    border-radius: 10px;
}



.div-paragrafo p {
    color: white;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.sessao03 {
    background-color: #5a5955;
}


.div-sessao4 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sessao04 {
    background-image: url(../imagens/hallway-2228277_1280.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.sessao04 button{
    padding: 0.5rem;
    border-radius: 5px;
    width: 15rem;
    background-color: #464543;
    color: white;
    font-weight: 700;
    border: none;
}



/* INICIO DA ESTILIZAÇÃO NO RODAPÉ */



footer {
    padding: 2rem 1rem;
    /*preenchimento superior e infoerior com (2rem), preenchimento laterais esqueda e direita*/
    background-color: #493d3f;
    display: flex;
    justify-content: space-evenly;
}


.ul-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ul-footer a {
    text-decoration: none;
    color: white;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sociais {
    padding: rem;
    display: flex;
    gap: 10px;
}

.sociais i {
    color: white;
    font-size: 2rem;
    
}

.line {
    margin: 1rem;
    width: 10rem;
}

/* FIM DA ESTILIZAÇÃO DO RODAPÉ */




@media (max-width: 768px) {

   .logo-header {
    width: 3rem;
   }


    .div01 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div01 p {
        font-size: 1.6rem;
        margin: 25px;
    }

    .sessao03 {
        gap: 5rem;
        justify-content: center;
        align-items: center;
    }


    .div-sessao4 button {
        width: 12rem;
        border: none;
    }

    .ul-list {
        display: none;
    }

    .hamburger {
        display: flex;
        padding: 0.3rem;
        background: transparent;
        color: white;
        font-size: 1.5rem;
    }

    footer {
        flex-direction: column;
        gap: 40px;
    }

    .ul-footer {
        text-align: center;
    }

}


/* 1) Agência de Viagens */
/* 2) Escritório de Advocacia */
/* 3) Clínica Veterinária */
/* 4) Barbearia */




